.wrap {
  display: block;
  margin: 0;
  padding: 4px 8px;
  max-width: 80%;
}

.title {
  margin-bottom: 1em;
}

.user {
  margin-left: auto;
}

.small {
  font-size: 0.8em;
}

.break {
  white-space: break-spaces;
  line-height: 1;
}

.statusWrap {
  min-height: 24px;
}

.red {
  color: red;
}
